<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/home/login.js" defer></script> <!-- 동기/비동기 -->
  <link rel="stylesheet" href="/css/home/login.css">
  <title>Document</title>
</head>
<body>
  <div class="login-box">
    <h2>Login</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="" id="id">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="" id="password">
        <label>Password</label>
      </div>
      <a id="loginButton" style="cursor:pointer;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        LOGIN
      </a>
    </form>
  </div>
</body>
</html>